<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head"></head>
<body>
    <nav th:replace="layout :: header"></nav>

    <div class="container main-content list">
<!--     	<div th:if="${success}" class="row alert alert-success alert-dismissible">
	        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <span th:text="${success}"></span>
	    </div> -->
    	
    	<th:block th:if="${#lists.isEmpty(orders)}">
		    <h3>No Result</h3>
		</th:block>
		
        <th:block th:unless="${#lists.isEmpty(orders)}">
            <div class="row">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>No</th>
                            <th>ID Product</th>
                            <th>Quantity bought</th>
                            <th>Address</th>
                            <th>Phone</th>
                            <th>State</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="order,iterStat : ${orders}">
                            <td th:text="${iterStat.count}"></td>
                            <td><img th:src="${'../../uploads/' + order.idProduct}" alt="product_img" width="150"/></td>
                            <td th:text="${order.numberProduct}"></td>
                            <td th:text="${order.address}"></td>
                            <td th:text="${order.phone}"></td>
                            <td th:text="${order.state}"></td>
                            <td><a th:href="@{/market/delete_order/{id}(id=${order.idProduct})}"><span class="glyphicon glyphicon-trash"></span></a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Pagination Bar -->
    <div th:fragment='paginationbar'>
        <div>
            <ul class='pagination pagination-centered'>
                <li th:class="${page.firstPage}?'disabled':''">
                <span th:if='${page.firstPage}'>← First</span>
                <a th:if='${not page.firstPage}' th:href='@{${page.url}(page=0,size=${page.size})}'>← First</a>
                </li>
                <li th:class="${page.hasPreviousPage}? '' : 'disabled'">
                <span th:if='${not page.hasPreviousPage}'>«</span>
                <a th:if='${page.hasPreviousPage}' th:href='@{${page.url}(page=${page.number-2},size=${page.size})}' title='Go to previous page'>«</a>
                </li>
                <li th:each='item : ${page.items}' th:class="${item.current}? 'active' : ''">
                <span th:if='${item.current}' th:text='${item.number}'>1</span>
                <a th:if='${not item.current}' th:href='@{${page.url}(page=${item.number-1},size=${page.size})}'><span th:text='${item.number}'>1</span></a>
                </li>
                <li th:class="${page.hasNextPage}? '' : 'disabled'">
                <span th:if='${not page.hasNextPage}'>»</span>
                <a th:if='${page.hasNextPage}' th:href='@{${page.url}(page=${page.number},size=${page.size})}' title='Go to next page'>»</a>
                </li>
                <li th:class="${page.lastPage}? 'disabled' : ''">
                <span th:if='${page.lastPage}'>Last →</span>
                <a th:if='${not page.lastPage}' th:href='@{${page.url}(page=${page.totalPages - 1},size=${page.size})}'>Last →</a>
                </li>
            </ul>
        </div>
    </div>
        </th:block>
    </div>
    <!-- /.container -->
	<div th:replace="layout :: footer-top"></div>
	<div th:replace="layout :: subscribe"></div>
    <footer th:replace="layout :: footer"></footer>
    <div th:replace="layout :: copy-right"></div>
</body>
</html>